.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .btn-primary{
      padding: 15px 30px;
      border-radius: 8px;
      cursor: pointer;
    
     
}
.fira-sans-regular{
    background-color:#faeaea;
}
.dtn-2{
    color: #FFFFFF;
    background-color: #006A50;
    padding: 17px 49px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 160px;
}

nav ul{
    display: flex;
}

.nav-title{
    font-weight: bold;
    font-size: 32px;
    /* padding-left: 160px; */
}

nav ul li {
    list-style: none;
    
}
.png{
    border-radius:24px;
    width: 408px;
    height: 306px;
    margin-right: 70px;
    
}

/* Banner styles */
.banner{
height: 60vh;
  display: flex;
 justify-content: space-around;
 background-color: #C6E4D6;
 margin: 10px 160px;
 
 border-radius: 24px;
 }
.banner-content{
    padding-top: 60px;
    padding-bottom: 197px;
    padding-left: 60px;
}
.banner-title{
    color: #0E0E0E;
    font-size: 20px;
    opacity: 5px;
}
.banner-description{
    font-weight: bold;
    font-size: 56px;
  
}
.banner-profile{
       width: 474.03px;
       height: 400px;
       padding-top: 80px;
       padding-bottom: 80px;
       padding-right: 60px;
}

/* vision styles */

.vision{
    padding-top: 120px;
    padding-left: 160px;
    padding-right: 160px;
}
.section{
    font-weight: bold;
    font-size: 40px;
}
.section-description{
    font-size: 16px;
    color: #0E0E0E;
    padding-bottom: 32px;
}

/* vision's styles */
.vision-container{
    display: flex;
    gap: 24px;
}


/* skills styles */

.skill-1{
    background-color:rgba(84, 144, 245, 0.2);
    border-radius: 16px;
    padding-top: 33px;
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 32px;
}
.skill-2{
    background-color: #C6E4D6;
    border-radius: 16px;
    padding: 32px 32px;
}
.skill-3{
    background-color: #F7EBCF;
    border-radius: 16px;
    padding: 32px 32px;
}

.btn-2nd{
    color: #FFFFFF;
    background-color: #5490F5;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.btn-3rd{
    color: #FFFFFF;
    background-color: #09A15C;
    padding: 11px 20px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}
.btn-4th{
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;             
    background-color: #2980b9; 
   
  
}


/* dr yunus */

.dr-yunus{
    padding-top: 32px;
    margin: 0 160px;
    background-color: white;
    margin-top: 32px;
    padding: 24px 48px;
    border-radius: 16px;
    background-image: url(../assets/quote-bg.png);
    background-repeat: no-repeat;
    background-position: 25px 24px;
}

/* Satellite styles */

.satellite{
     margin: 160px 160px;
}
.s-1{
    font-size:40px;
    font-weight: bold;
}
.s-2{
    font-size: 16px;

}
.satellite-2{
      height: 44vh;
      background-color: #FFFFFF;
      border-radius: 24px;
      margin-bottom: 24px;
}
.satellite-3{
    height: 44vh;
    background-color: #FFFFFF;
    border-radius: 24px;
  
}
.light{
    display: flex;
    

}
.main-point{
    padding:48px 48px;
    box-sizing: 24px;

}
.n-1{
    font-size: 32px;
    font-weight: bold;
    padding-top: 26px;
}
.btn-5{
    margin-top: 32px;
    padding: 13px 26px;
    border-radius: 8px;
    background-color: #006A50;
    color: #FFFFFF;
    cursor: pointer;
    border: none;

}

/* Styles of donate */
.donate{
  margin-top: 80px;
  pad: 0px 160px;
  height: 55vh;
}
.dnt-1{
   font-weight: bold; 
   font-size: 40px;
   text-align: center;
}
.dnt-2{
    font-size: 16px;
    padding: 0px 248px;
    margin-bottom: 32px;
}
.dnt-btn-1{
   
   justify-content: space-between;
   padding: 0px 264px;
   border: none;
   display: flex;
   margin-bottom: 32px;
   
}

.dtn-1{
   font-size: 40px;
   font-weight: bold;
  padding: 40px 40px;
  border-radius: 16px;
  
  padding-right: 30px;
  border: none;
  cursor: pointer;
  background-color: #FFFFFF;
}
.dtn-f{
    font-size: 40px;
    font-weight: bold;
    padding: 40px 40px;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    background-color: #C6E4D6;
}
.dtn-3{
    font-size: 40px;
    font-weight: bold;
    padding: 40px 40px;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    background-color: #FFFFFF;
}
.dtn-4{
    font-size: 40px;
    font-weight: bold;
    padding:40px 40px;
    border-radius: 16px;
    border: none;
    background-color: #FFFFFF;
    cursor: pointer;
    
}
/* Form styles */
.form{

}
.form-sheet{
    font-size: 20px;
    padding: 20px 422px;
    border: none;
   align-items: center;
   margin-left: 240px;
}
.done-button{
    margin-top: 36px;
    align-items: center;
    text-align: center;
    
}
.btn-all{
   padding: 17px 34px;
   border-radius: 8px;
   background-color: #006A50;
   color: #FFFFFF;
   border: none;
   cursor:pointer;
}