.fira-sans-thin {
    font-family: "Fira Sans", serif;
    font-weight: 100;
    font-style: normal;
  }
  .fira-sans-thin{
    background-color: #F1F1F3;
  }

  .btn-primary{
      padding: 15px 30px;
      border-radius: 8px;
      color: #006A50;
  }

/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 160px;
}

nav ul{
    display: flex;
}

.nav-title{
    font-weight: bold;
    font-size: 32px;
    /* padding-left: 160px; */
}

nav ul li {
    list-style: none;
    
}